@import "reset";

a{
  text-decoration: none;
}
.container{
  width: 960px;
  margin: 0 auto;
  background-color: #dff8d1;
form{
  text-align: center;
  padding: 2%;
  select,input{
    padding: 1% 17%;
  }
}
  .menuItem{
    display: flex;
    padding: 3% 0;
    p{
      padding: 0 3%;
    }
  }
}